# Archivos generados por el sistema operativo
.DS_Store

# Archivos de compilación
*.o
*.log
*.class

# Archivos de configuración personal
.env

# Dependencias de Node.js
node_modules/

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp
